<!-- 
    Страница с формой ввода
    Отправляет POST-запрос на /submit
    Демонстрирует работу с формами в Spring MVC
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма ввода</title>
</head>
<body>
    <!-- 
        Форма отправляет данные методом POST на endpoint /submit
        Поле name будет доступно в контроллере через @RequestParam
    -->
    <form action="/submit" method="post">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" />
        <button type="submit">Отправить</button>
    </form>
</body>
</html>
